.header {
  width: 100%;
  height: 130px;
  background-color: #25292f;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.iconeHeader {
  margin-left: 25px;
}
