@import "tailwindcss";
.BarraTop {
  z-index: 999;
  background-color: #292d34;
  width: 100dvw;
  height: 90px;
  display: flex;
  align-items: center;
  color: white;
}
.logo {
  width: 100px;
}
.BotaoLocais:hover {
  background-color: #1f3217;
}

.BotaoLocais {
  cursor: pointer;
  width: auto;
  padding: 10px;
  background-color: #4a7537;
  border: none;
  color: white;
  border-radius: 15px;
  display: flex;
  display: inline;
  margin: 10px;
}
.apiClimatologico {
  color: #acacac;
  width: 200px;
  height: 210px;
  background-color: #292d34;
  border-radius: 15px;
}
.apiClimatologicoEstatusDispositivos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerBotaoLocais {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.containerStatusDispositivos {
  background-color: #292d34;
  display: flex;
  align-items: center;
  width: 600px;
  justify-content: space-between;
  border-radius: 10px;
  padding: 20px;
  color: white;
  margin: 10px;
  height: 210px;
}
.containerLigarDesligarDispositivos {
  display: flex;
  align-items: center;
  
  background-color: #292d34;
  height: 257px;
  width: 810px;
  border-radius: 10px;
  overflow: auto;
}
.cardUniversalDosDispositivosIguais {
  padding: 15px;
  width: 265px;
  min-width:265px;
  height: 200px;
  background-color: #3e444e;
  border-radius: 10px;
  margin: 0 17px;
}
.elementosInferiores {
  display: flex;
}
.cardPesquisaDispositivo {
  width: 421px;
  background-color: #292d34;
  border-radius: 10px;
  display: flex;
  height: 488px;
  overflow-y: auto;
  align-items: start;
  padding: 15px;
  flex-direction: column;
}
.inputPesquisa {
  display: flex;
  
  width: 100%;
  height: 35px;
  background-color: white;
  border-radius: 20px;
}
.itemPesquisa{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  height: 150px;
  padding: 10px;
  width: 380px;
  margin-top: 10px;
}
/*Para dispositivos móveis*/
@media only screen and (max-width: 600px) {
  .itemPesquisa{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  height: 150px;
  padding: 10px;
  width: 300px;
  margin-top: 10px;
}
  .cardUniversalDosDispositivosIguais {
    width: 200px;
  min-width:200px;
    height: 192px;
    background-color: #3e444e;
    border-radius: 10px;
    margin: 17px;
    padding: 20px;
  }
  .imagensCard {
    width: 50px;
  }
  .apiClimatologico {
    width: 300px;
    height: 210px;
    display: flex;
    align-items: baseline;
    padding: 15px;
    background-color: #292d34;
    border-radius: 15px;
  }
  .containerStatusDispositivos {
    display: flex;
    justify-content: space-between;
    height: 500px;
    flex-direction: column;
    width: 300px;
  }
  .inputPesquisa {
    width: 250px;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
  }
  .cardPesquisaDispositivo {
    
    background-color: #292d34;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow-y: auto;
    padding: 15px;
    flex-direction: column;
    margin-top: 10px;
    height: 500px;
  }
  .elementosInferiores {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .apiClimatologicoEstatusDispositivos {
    display: flex;
    flex-direction: column;
  }
  .containerLigarDesligarDispositivos {
    width: 350px;
    overflow-x: scroll;
    height: auto;
    margin-left: 10px;
    display: flex;
 
    padding: 20px;
  }
  .barralateral{
 display: none;
}
}


.DashBoard {
  background-color: #3e444e;
  width: 100dvw;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 24px;
}
.verdeDefault {
  background-color: #4a7537;
}
.vermelhoDefault {
  background-color: #8e0000;
}
.azulDefault {
  background-color: #244f76;
}
.cinzaDefault {
  color: #acacac;
}
.cinzaFundo {
  background-color: #3e444e;
}
.barralateral{
  background-color: #3b414a;
  width: 150px;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon{
  width: 71px;
  margin: 15px;
}