.container-lista {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.conteudo {
  display: flex;
  width: 100%;
  height: 90%;
  background-color: #292D34;
}

.conteudo-principal {
  background-color: rgba(215, 209, 209, 0.007);
  width: 100%;
  height: 100%;
  padding: 50px 80px;
}




.mid-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}