.filter-Container {
  height: 80px;
  background-color: #292d34;
  color: white;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 40px;
  margin-left: 154px;
  margin-bottom: 500px;
}

.filter-Header {
  margin-bottom: 10px;
  align-items: center;
  display: flex;
}

.iconeFilter {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 15px;
  size: 60px;
}

.filter-Header h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 40px;
}

.description-Header {
  font-size: 14px;
  font-weight: 500;
  flex-direction: row;
}
