.bodyInfo {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #3E444E;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}


.mainBox {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
    flex: 1;

}






.containerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 80%;
    padding: 20px 20px 20px 40px;
    margin-top: 65px;
    border-radius: 10px;
    background-color: #383e47;
    color: #ACACAC;
    margin-left: 60px;
}