.list {
  display: flex;
  width: 100%;
  color: white;
  flex-direction: column;
  justify-content: space-around;
}

.description-Header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  align-items: center;
}

.table-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #3e444e;
  border-radius: 5px;
  height: 40px;
  margin-top: 10px;
}

.green {
  color: green;
}

.gray {
  color: azure;
}
